[Desktop Entry]
Version=1.0
Type=Application
Name=Network Swiss Knife (NSK)
Comment=High-Performance Cross-Platform Networking Toolkit
Exec=bash -c 'cd "$(dirname "%k")" && ./start.sh'
Path=.
Icon=network-wired
Terminal=true
Categories=Network;Security;System;
StartupNotify=true
